<!--Tarjeta Incluir el html del modal-->
<div class="col-12">
        <div id="entry-${index}" class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img id="card-image" src="https://miro.medium.com/max/2121/1*sfoR0J9GcPfzx2Gv6h3kOw.jpeg" class="card-img row no-gutters" alt="..." data-toggle="modal" data-target="#exampleModalScrollable" >
                </div>
                <div class="col-md-8">
                <div id="card-sample" class="card-body">
                    <h6 id="card-sample-text-btn" class="card-title" data-toggle="modal" data-target="#exampleModalScrollable">RELATIONSHIPS Popular topic</h6>
                    <h5 id="card-sample-title-btn" class="card-title font-weight-bold" data-toggle="modal" data-target="#exampleModalScrollable">${value.title}</h5>
                    <p id="card-sample-content"class="card-text card-content">${value.content}</p>
                    <p id="card-sample-date" class="card-text"><small class="text-muted card-date">${value.createDate}</small></p>
                </div>
            </div>
        </div>
      </div>
      </div>
  <!--End Tarjeta-->
      <!-- Modal -->
      <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalScrollableTitle">${value.title}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <img src="https://miro.medium.com/max/2121/1*sfoR0J9GcPfzx2Gv6h3kOw.jpeg" class="card-img" alt="...">
            <p id="card-sample-date" class="card-text"><small class="text-muted card-date">${value.createDate}</small></p>
            <p id="card-sample-content" class="modal-text card-content">${value.content}</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      </div>
      </div>
<!--Modal END-->